/* Reset default margin and padding */
body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav button {
    color: white;
    background-color: #007BFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style the container div */
#container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

/* Style the box-left and box-right divs */
#box-left, #box-right {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* flex: 1; */
}

/* Set the width of box-left and box-right */
#box-left {
    width: 60%;
    margin-right: 20px;
}

#box-right {
    width: 30%;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Style the table header */
table th {
    background-color: #f2f2f2;
}

/* Style the "Remove" and "Update" buttons */
table td button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the "Edit Availability" buttons */
table td .update-button {
    display: block; /* Make the button a block element */
    margin: 0 auto; /* Center horizontally using auto margins */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #73ff00; 
}

table td .remove-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #ff3c00;
    color: white;
}

/* Style the box-right div */
#box-right {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Style form input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#box-right form input[type="text"],
#box-right form input[type="number"],
#box-right form select {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
#box-right form select {
    width: 95%;
}

/* Style form submit button */
#box-right form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#box-right form input[type="submit"]:hover {
    background-color: #0056b3;
}
/* #box-right form input[type="text"],
#box-right form input[type="number"],
#box-right form select{
    width: 90%;
} */